<a href="https://colab.research.google.com/github/TAEJIN-KANG/001/blob/main/%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%84%A4%EA%B3%84_%EB%B0%8F_%ED%99%9C%EC%9A%A9_9%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C_20248191_%EA%B0%95%ED%83%9C%EC%A7%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import json

# 구글 드라이브 마운트
from google.colab import drive
drive.mount('/content/drive')

# 파일 경로 지정
json_file_path = '/content/drive/MyDrive/jsonData/custom.json'

# JSON 파일 읽기
with open(json_file_path, 'r', encoding='utf-8') as f:
    json_data = json.load(f)

df = pd.DataFrame(json_data)
print(df.head())

Mounted at /content/drive
   id name             email             phone  \
0   1  홍길동  hong@example.com  +82-10-1234-5678
1   2  김철수   kim@example.com  +82-10-8765-4321

                             address
0  {'city': '서울', 'country': '대한민국'}
1  {'city': '부산', 'country': '대한민국'}

In [22]:
import pandas as pd
import xml.etree.ElementTree as ET

xml_file_path = '/content/drive/MyDrive/xmlData/book.xml'

# XML 파일 파싱
tree = ET.parse(xml_file_path)

root = tree.getroot()

# DataFrame 초기화
columns = ['title', 'author', 'price', 'genre']
df = pd.DataFrame(columns=columns)

# 각 book 요소 반복
for book in root.findall('book'):
    row = {
        'title': book.find('title').text,
        'author': book.find('author').text,
        'price': float(book.find('price').text),
        'genre': book.find('genre').text
    }
    new_df = pd.DataFrame([row])
    df = pd.concat([df, new_df], ignore_index=True)

print(df.head())

                   title          author  price    genre
0    Pride and Prejudice     Jane Austen  19.99  romance
1  To Kill a Mockingbird      Harper Lee  14.99  fiction
2  The Lord of the Rings  J.R.R. Tolkien  34.99  fantasy

<ipython-input-22-562ff7043cc6>:24: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_df], ignore_index=True)